body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}
